In [24]:
import pandas as pd

In [25]:
sales = pd.read_csv("sales.csv")
sales.head()

,Year,Product line,Product type,Product,Order method type,Retailer country,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
0,2004,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United States,5819.70,6586.16,1733.2,619.0,2.8,10.64,4086.50,5.105
1,2004,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United States,10904.28,11363.52,2990.4,1068.0,2.8,10.64,7913.88,10.210
3,2005,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom,27987.84,28855.68,7593.6,2712.0,2.8,10.64,20394.24,10.320
4,2006,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
sales.columns

Index(['Year', 'Product line', 'Product type', 'Product', 'Order method type',
       'Retailer country', 'Revenue', 'Planned revenue', 'Product cost',
       'Quantity', 'Unit cost', 'Unit price', 'Gross profit',
       'Unit sale price'],
      dtype='object')

In [27]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17823 entries, 0 to 17822
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               17823 non-null  int64
 1   Product line       17823 non-null  object
 2   Product type       17823 non-null  object
 3   Product            17823 non-null  object
 4   Order method type  17823 non-null  object
 5   Retailer country   17823 non-null  object
 6   Revenue            6045 non-null   float64
 7   Planned revenue    6045 non-null   float64
 8   Product cost       6045 non-null   float64
 9   Quantity           5860 non-null   float64
 10  Unit cost          6045 non-null   float64
 11  Unit price         6045 non-null   float64
 12  Gross profit       6045 non-null   float64
 13  Unit sale price    6045 non-null   float64
dtypes: float64(8), int64(1), object(5)
memory usage: 1.9+ MB

In [28]:
sales['Year'].unique()

array([2004, 2005, 2006, 2007], dtype=int64)

In [29]:
sales['Product line'].unique()

array(['Golf Equipment', 'Camping Equipment', 'Outdoor Protection',
       'Mountaineering Equipment'], dtype=object)

In [30]:
sales['Product type'].unique()

array(['Golf Accessories', 'Sleeping Bags', 'Cooking Gear', 'First Aid',
       'Insect Repellents', 'Climbing Accessories'], dtype=object)

In [31]:
sales['Product'].unique()

array(['Course Pro Golf and Tee Set', 'Hibernator Self - Inflating Mat',
       'TrailChef Deluxe Cook Set', 'Deluxe Family Relief Kit',
       'Course Pro Golf Bag', 'TrailChef Water Bag',
       'TrailChef Kitchen Kit', 'TrailChef Cook Set',
       'TrailChef Single Flame', 'TrailChef Double Flame',
       'Hibernator Camp Cot', 'BugShield Lotion Lite',
       'Compact Relief Kit', 'Insect Bite Relief', 'Course Pro Umbrella',
       'Course Pro Gloves', 'Firefly Climbing Lamp',
       'Firefly Rechargeable Battery', 'Granite Chalk Bag',
       'TrailChef Canteen', 'TrailChef Cup', 'TrailChef Kettle',
       'TrailChef Utensils', 'Hibernator Lite', 'Hibernator Extreme',
       'Hibernator Pad', 'Hibernator Pillow', 'BugShield Natural',
       'BugShield Spray', 'BugShield Lotion', 'BugShield Extreme',
       'Calamine Relief', 'Aloe Relief', 'Granite Carabiner',
       'Granite Belay', 'Granite Pulley', 'Firefly Charger', 'Hibernator'],
      dtype=object)

In [32]:
sales['Order method type'].unique()

array(['Sales visit', 'Telephone', 'Web', 'Special', 'Mail', 'E-mail',
       'Fax'], dtype=object)

In [33]:
sales['Retailer country'].unique()

array(['United States', 'United Kingdom', 'Canada', 'Mexico', 'Brazil',
       'Japan', 'Korea', 'China', 'Singapore', 'Australia', 'Netherlands',
       'Sweden', 'Finland', 'Denmark', 'France', 'Germany', 'Belgium',
       'Switzerland', 'Austria', 'Italy', 'Spain'], dtype=object)

In [34]:
sales.describe()

,Year,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
count,17823.000000,6.045000e+03,6.045000e+03,6.045000e+03,5860.000000,6045.000000,6045.000000,6.045000e+03,6045.000000
mean,2005.164955,1.038455e+05,1.058923e+05,5.701932e+04,4691.273549,58.882618,48.900855,4.336203e+04,44.795072
std,0.956260,1.836042e+05,1.881274e+05,1.117846e+05,8950.955313,348.369401,62.814500,7.185831e+04,58.399255
min,2004.000000,0.000000e+00,0.000000e+00,3.360000e+01,5.000000,0.850000,3.660000,-1.336560e+04,0.000000
25%,2004.000000,1.364924e+04,1.383736e+04,5.759760e+03,625.000000,2.760000,7.000000,7.009650e+03,6.580000
50%,2005.000000,4.154119e+04,4.189571e+04,1.906720e+04,1695.000000,9.000000,18.000000,1.894653e+04,17.650000
75%,2006.000000,1.120026e+05,1.144758e+05,5.796000e+04,4858.000000,34.970000,66.770000,5.002308e+04,62.760000
max,2007.000000,3.644349e+06,3.477910e+06,2.061750e+06,164142.000000,7833.000000,265.140000,1.416160e+06,265.140000

In [35]:
sales['Year'].value_counts()

2004    5451
2005    5451
2006    5451
2007    1470
Name: Year, dtype: int64

In [36]:
sales['Product line'].value_counts()

Camping Equipment           8562
Outdoor Protection          4410
Mountaineering Equipment    3087
Golf Equipment              1764
Name: Product line, dtype: int64

In [37]:
sales['Product type'].value_counts()

Cooking Gear            5880
Climbing Accessories    3087
Sleeping Bags           2682
First Aid               2205
Insect Repellents       2205
Golf Accessories        1764
Name: Product type, dtype: int64

In [38]:
sales['Order method type'].value_counts()

Fax            2547
Mail           2547
Special        2547
E-mail         2547
Telephone      2547
Web            2547
Sales visit    2541
Name: Order method type, dtype: int64

In [39]:
sales['Retailer country'].value_counts()

United States     865
United Kingdom    865
Japan             847
Italy             847
China             847
Switzerland       847
Brazil            847
Finland           847
Canada            847
Netherlands       847
Korea             847
Mexico            847
Australia         847
Sweden            847
France            847
Denmark           847
Singapore         847
Austria           847
Belgium           847
Spain             847
Germany           847
Name: Retailer country, dtype: int64

In [40]:
sales.groupby('Retailer country')[['Revenue',\
                                   'Planned revenue',\
                                   'Product cost',\
                                   'Quantity',\
                                   'Gross profit']].sum()

,Revenue,Planned revenue,Product cost,Quantity,Gross profit
Retailer country,,,,,
Australia,1.526422e+07,1.552855e+07,8367046.10,649467.0,6384806.59
Austria,1.631419e+07,1.663918e+07,8923176.61,719084.0,6871597.34
Belgium,1.415299e+07,1.434713e+07,7695759.79,622150.0,5964513.37
Brazil,1.686686e+07,1.718625e+07,9210809.34,744353.0,7092849.29
Canada,3.918371e+07,3.975547e+07,21435997.54,1701123.0,16670505.63
China,4.350234e+07,4.432347e+07,23925152.71,1935454.0,18003637.37
Denmark,8.455457e+06,8.657223e+06,4695594.80,368479.0,3496915.24
Finland,2.714528e+07,2.768705e+07,14879340.33,1207265.0,11335187.27
France,3.595367e+07,3.640336e+07,19646425.37,1620252.0,14968952.89
Germany,3.509449e+07,3.565769e+07,19213400.37,1576459.0,14637047.69
Italy,2.601864e+07,2.649849e+07,14223866.13,1142868.0,10910074.30
Japan,4.603330e+07,4.691096e+07,25256321.68,2047615.0,19208447.45
Korea,3.174933e+07,3.226426e+07,17388109.35,1432122.0,13189782.95
Mexico,2.660842e+07,2.720830e+07,14559723.33,1173878.0,11175487.89
Netherlands,2.506122e+07,2.554392e+07,13716572.61,1121981.0,10464386.40
Singapore,2.886032e+07,2.945750e+07,15901641.50,1270886.0,11959852.99
Spain,2.367628e+07,2.415171e+07,12929558.31,1052358.0,9962395.94
Sweden,9.718640e+06,9.804136e+06,5258635.87,432962.0,4079646.04
Switzerland,1.065317e+07,1.079256e+07,5785329.90,465683.0,4489793.93
United Kingdom,3.988824e+07,4.081019e+07,22100106.53,1656837.0,16542988.78
United States,1.075452e+08,1.104916e+08,59569196.14,4549587.0,44714622.05

In [41]:
sales.dropna().groupby('Retailer country')\
                      [['Revenue',\
                        'Planned revenue',\
                        'Product cost',\
                        'Quantity',\
                        'Unit cost',\
                        'Unit price',\
                        'Gross profit',\
                        'Unit sale price']].min()

,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
Retailer country,,,,,,,,
Australia,0.0,294.00,120.78,49.0,0.85,3.66,-558.00,0.000000
Austria,0.0,0.00,33.60,5.0,0.85,3.66,-360.00,0.000000
Belgium,0.0,0.00,70.18,6.0,0.85,3.66,-280.72,0.000000
Brazil,966.0,966.00,455.63,138.0,0.85,3.66,510.37,3.192857
Canada,198.0,198.00,93.39,33.0,0.85,3.66,53.40,2.875000
China,0.0,618.00,291.49,103.0,0.85,3.66,-840.00,0.000000
Denmark,0.0,738.00,312.96,40.0,0.85,3.66,-2561.74,0.000000
Finland,486.0,486.00,223.56,81.0,0.85,3.66,262.44,3.141429
France,0.0,230.12,90.24,43.0,0.85,3.66,-190.40,0.000000
Germany,234.0,0.00,110.37,32.0,0.85,3.66,-1119.04,0.000000
Italy,0.0,330.00,154.56,55.0,0.85,3.66,-224.00,0.000000
Japan,0.0,0.00,67.20,22.0,0.85,3.66,-1225.18,0.000000
Korea,276.0,276.00,130.18,46.0,0.85,3.66,-3831.84,3.137143
Mexico,432.0,432.00,203.76,51.0,0.85,3.66,-542.00,2.615000
Netherlands,0.0,308.57,113.28,40.0,0.85,3.66,-13365.60,0.000000
Singapore,576.0,576.00,271.68,32.0,0.85,3.66,1.28,3.142857
Spain,348.0,348.00,160.08,40.0,0.85,3.66,103.68,2.200000
Sweden,0.0,0.00,67.76,23.0,0.85,3.66,-1438.56,0.000000
Switzerland,0.0,162.00,74.52,27.0,0.85,3.66,-2790.00,0.000000
United Kingdom,0.0,264.00,124.52,44.0,0.85,3.66,-4009.68,0.000000
United States,0.0,156.90,57.60,24.0,0.85,3.66,-186.00,0.000000

In [42]:
sales.groupby('Year')[['Revenue',\
                       'Planned revenue',\
                       'Product cost',\
                       'Quantity',\
                       'Unit cost',\
                       'Unit price',\
                       'Gross profit',\
                       'Unit sale price']].sum()

,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
Year,,,,,,,,
2004,1.528977e+08,1.567331e+08,8.538058e+07,7318558.0,97750.174438,92781.46,62482134.57,84841.786496
2005,1.908502e+08,1.947044e+08,1.029861e+08,8453776.0,113381.098628,103147.42,81126260.32,93071.003707
2006,2.228721e+08,2.270020e+08,1.209524e+08,8786835.0,134772.241249,82126.84,95563977.64,76786.074337
2007,6.112591e+07,6.167953e+07,3.536268e+07,2931694.0,10041.912620,17549.95,22951118.87,16087.343791

In [43]:
sales.groupby('Product line')[['Revenue',\
                               'Planned revenue',\
                               'Product cost',\
                               'Quantity',\
                               'Unit cost',\
                               'Unit price',\
                               'Gross profit',\
                               'Unit sale price']].sum()

,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
Product line,,,,,,,,
Camping Equipment,4.860065e+08,4.966410e+08,2.862390e+08,15200145.0,323199.354903,214876.61,1.825174e+08,195361.436414
Golf Equipment,4.205702e+07,4.235803e+07,1.525444e+07,2367637.0,14195.740000,39488.03,2.483757e+07,36115.529168
Mountaineering Equipment,5.254793e+07,5.293751e+07,2.522232e+07,3672582.0,11540.322032,24108.88,2.639106e+07,23103.209617
Outdoor Protection,4.713449e+07,4.818252e+07,1.796598e+07,6250499.0,7010.010000,17132.15,2.837751e+07,16206.033132

In [44]:
sales.groupby('Order method type')[['Revenue',\
                                    'Planned revenue',\
                                    'Product cost',\
                                    'Quantity',\
                                    'Gross profit']].sum()

,Revenue,Planned revenue,Product cost,Quantity,Gross profit
Order method type,,,,,
E-mail,3.238293e+07,3.301196e+07,1.768881e+07,1503654.0,1.352462e+07
Fax,1.376507e+07,1.399805e+07,7.399451e+06,653190.0,5.993243e+06
Mail,9.749679e+06,9.942812e+06,5.211545e+06,483151.0,4.175907e+06
Sales visit,6.946909e+07,7.141927e+07,3.870416e+07,3084491.0,2.890578e+07
Special,6.642340e+06,6.618693e+06,3.550795e+06,324760.0,2.824776e+06
Telephone,7.056328e+07,7.230265e+07,3.889483e+07,3200421.0,2.907046e+07
Web,4.251736e+08,4.328256e+08,2.332322e+08,18241196.0,1.776287e+08