In [1]:
import pandas as pd

In [2]:
user_info = pd.read_json("user_info.json")

In [3]:
user_info.head()

,_id,index,guid,isActive,balance,picture,age,eyeColor,name,gender,...,phone,address,about,registered,latitude,longitude,tags,friends,greeting,favoriteFruit
0,5c0a28d7a647437fd3d3a6aa,0,832f1af4-fb18-4ba8-b032-f4cbf343dbe9,False,"$3,806.93",http://placehold.it/32x32,20,green,Grace Berry,female,...,+1 (814) 555-3298,"698 Kansas Place, Bethpage, Louisiana, 7695",Nostrud consectetur elit occaecat dolore incid...,2015-12-09T08:21:48 -06:-30,-65.630631,131.991768,"[eu, id, fugiat, deserunt, nulla, proident, la...","[{'id': 0, 'name': 'Small Pena'}, {'id': 1, 'n...","Hello, Grace Berry! You have 1 unread messages.",strawberry
1,5c0a28d780f6278b11586ab1,1,4306cb37-9506-48c2-8ccf-e69a063589ee,True,"$3,330.01",http://placehold.it/32x32,22,brown,Hilary Sellers,female,...,+1 (942) 536-3059,"309 Kingsway Place, Kilbourne, New York, 3771",Sunt id ipsum velit voluptate. Ullamco non non...,2014-12-15T11:42:39 -06:-30,38.790260,48.442002,"[deserunt, do, adipisicing, in, aliqua, duis, ...","[{'id': 0, 'name': 'Spears Smith'}, {'id': 1, ...","Hello, Hilary Sellers! You have 4 unread messa...",apple
2,5c0a28d722e2e29d9bce2b64,2,5019e436-7cc4-48ee-a384-3483131f8ee1,True,"$1,619.46",http://placehold.it/32x32,40,green,Sherri Gilbert,female,...,+1 (954) 591-2183,"347 Seeley Street, Witmer, Kansas, 9369",Laborum ad excepteur amet sunt aliqua veniam c...,2014-10-31T05:02:03 -06:-30,34.404508,-116.452211,"[adipisicing, cillum, deserunt, aute, ipsum, c...","[{'id': 0, 'name': 'Sexton Watts'}, {'id': 1, ...","Hello, Sherri Gilbert! You have 1 unread messa...",apple
3,5c0a28d76b5e8859a754cb4f,3,d2c4b1eb-2974-463a-b288-d1dae5dec187,False,"$3,334.12",http://placehold.it/32x32,29,blue,Caldwell Patterson,male,...,+1 (815) 400-3780,"178 Stewart Street, Ferney, Wyoming, 9118",Eu amet aliqua magna ipsum quis et ut reprehen...,2018-04-02T03:06:31 -06:-30,-63.424959,-51.151783,"[adipisicing, veniam, dolor, duis, aute, tempo...","[{'id': 0, 'name': 'Anne Holcomb'}, {'id': 1, ...","Hello, Caldwell Patterson! You have 6 unread m...",strawberry
4,5c0a28d7ebb99c08e2288c76,4,df0b59ed-2e81-43f1-9ae0-16f138e738be,False,"$1,368.48",http://placehold.it/32x32,33,brown,Head Mcconnell,male,...,+1 (820) 573-3154,"189 Rogers Avenue, Lindisfarne, Mississippi, 1961",Sunt amet exercitation aliqua cillum commodo o...,2016-01-06T09:38:15 -06:-30,-80.136744,176.780600,"[qui, aute, voluptate, eiusmod, est, est, cupi...","[{'id': 0, 'name': 'Elnora Peck'}, {'id': 1, '...","Hello, Head Mcconnell! You have 5 unread messa...",strawberry

In [4]:
user_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   _id            6 non-null      object
 1   index          6 non-null      int64
 2   guid           6 non-null      object
 3   isActive       6 non-null      bool
 4   balance        6 non-null      object
 5   picture        6 non-null      object
 6   age            6 non-null      int64
 7   eyeColor       6 non-null      object
 8   name           6 non-null      object
 9   gender         6 non-null      object
 10  company        6 non-null      object
 11  email          6 non-null      object
 12  phone          6 non-null      object
 13  address        6 non-null      object
 14  about          6 non-null      object
 15  registered     6 non-null      object
 16  latitude       6 non-null      float64
 17  longitude      6 non-null      float64
 18  tags           6 non-null      object
 19  friends        6 non-null      object
 20  greeting       6 non-null      object
 21  favoriteFruit  6 non-null      object
dtypes: bool(1), float64(2), int64(2), object(17)
memory usage: 1.1+ KB

In [5]:
user_info.shape

(6, 22)